<ion-header>
  <ion-navbar>
    <ion-title>gWeather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="contentBlock" padding>
    <p *ngIf="errorMsg!=null" style="color:red;background-color:white">{{errorMsg}}</p>
  <ion-grid *ngIf="weather">
    <ion-row>
      <ion-col width-100 offset-20>
          <h3 class="location">{{weather.display_location.full}}</h3>
          <h1 class="temp">{{weather.temp_c}}&deg;C</h1>

      <h4 class="description">{{weather.weather}}</h4>
      <div class="icon"><img src="{{weather.icon_url}}" alt="" /></div>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Temp:</strong> {{weather.temperature_string}}
          </ion-item>
          <ion-item>
            <strong>Relative Humidity:</strong> {{weather.relative_humidity}}
          </ion-item>
          <ion-item>
            <strong>Dewpoint:</strong> {{weather.dewpoint_string}}
          </ion-item>
          <ion-item>
            <strong>Visibility:</strong> {{weather.visibility_mi}}
          </ion-item>
          <ion-item>
            <strong>Heat Index:</strong> {{weather.heat_index_string}}
          </ion-item>
        

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>