<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  padding>
    <ion-searchbar name="cityFilter" [(ngModel)]="cityFilter" (ionInput)="getCities($event)"
    placeholder = "Search city" (ionCancel)="HideList()" >
   </ion-searchbar>
  
   <ion-grid>
     <ion-row>
       <ion-col width-100>
        <ion-list *ngIf="showCities">
          <ion-item *ngFor = "let city of cityList"  (click)="trackCity(city.name)">
         {{city.name}}
          </ion-item>
        </ion-list>
       </ion-col>
     </ion-row>
   </ion-grid>

        <form (ngSubmit)="saveForm()">
            <ion-input hidden [(ngModel)]="city" name="city" type="text"></ion-input>
            <ion-input hidden [(ngModel)]="country" name="country" type="text"></ion-input>
            <ion-label text-center>
                <h4>Your Choice: {{city}}, {{country}}</h4>
            </ion-label>
         
            <button ion-button color="secondary" type="submit" block>Save Settings</button>
        </form>
 
</ion-content>
