.clear{
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/3xEGOGX/beautiful-sea-on-sunny-day-with-blue-sky-reflecting-in-water-beautiful-sea-horizon-sunshine-blue-sky-with-fluffy-clouds-and-water-reflection-tranquil-scene-animation-abstract-illustration-30fps-hd1080-seamless-loop_e17pb-a4e__F0000.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.hazy{
    background-image: url('http://wallpapercraft.net/wp-content/uploads/2016/11/HD-Fog-Wallpapers-1.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.tstorms
{
    background-image: url('https://tribkcpq.files.wordpress.com/2017/05/lightning.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.tstormschance
{
    background-image: url('http://www.trbimg.com/img-554a916d/turbine/la-me-ln-thunderstorms-waterspouts-weather-20150506');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.sleet
{
    background-image: url('http://www.abccolumbia.com/wp-content/uploads/2016/01/Image4.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.partlycloudy
{
    background-image: url('https://learnmoreeveryday.files.wordpress.com/2015/05/img_5578.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.snow{
    background-image: url('https://pbs.twimg.com/media/DJ20AveVwAI1osJ.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.rain
{
    background-image: url('https://ak2.picdn.net/shutterstock/videos/9915782/thumb/1.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.mostlycloudy
{
    background-image: url('http://media.jrn.com/images/2000*1241/0718_KCLO_ETP1.JPG');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

ion-content
{
    background-image: url('https://i.pinimg.com/originals/84/b7/fd/84b7fd33902b17b1672e849c956a431d.jpg');
    background-repeat:no-repeat;
    color: color($colors,dark);background-size: 100% 100%;
    margin-top:16px;
    }

.toolbar-title{text-align: center;}

.tabs-md .tab-button-icon{

    color:color($colors,light);
}

.temp{
    font-size:40px;
    text-align:center;
    font-weight:bold;
}

.location, .icon,.description{
    text-align: center;
}

.icon img{
    width: 20%;
    height: 20%;
  
}
.location {font-size: 20px;}
.description{
   
font-size: 20px;
}
